@media screen and (max-width: 640px ) {

  .tabell {

    thead {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      margin-bottom: 1rem;

      td {
        width: 100%;
        text-align: left;
        border-bottom: none;
        line-height: 1rem;
        padding: 0.4rem;
      }

      .tabell__td--sortert {
        background: transparent;
      }

    }

    tr:first-child {
      padding-top: 1rem;
    }

  }

}

@media screen and (max-width: 640px ) {
  .sortering_listeboks {

    .skjemaelement {
      float: left;
      width: 90%;
    }

    a {
      margin-top: 2.5rem;
      float: right;
    }
  }
}

@media screen and (min-width: 640px ) {
  .sortering_listeboks {
    display: none;
  }
}

.vedleggliste {
  margin-bottom: 3rem;
}
