.vedleggModal {
    min-width: 20rem;
}

.image {
    max-width: 90vw;
    height: auto;
    position: static;
    display: block;
    margin-top: 1rem;
}

.filnavn {
    word-break: break-word;
}

.modalBody {
    position: relative;
}
