.luft_over_1rem {
    margin-top: 1rem;
}

.luft_under_1rem {
    margin-bottom: 1rem;
}

.luft_over_16px {
    margin-top: 16px;
}

.luft_over_10px {
    display: block;
    margin-top: 10px;
}

.oppgaver_detaljer {
    border: 1px solid #e9e7e7;
    border-radius: 2px;
    padding: 1rem;
}

.oppgaver_detaljer_feil_ramme {
    border: solid 1px #ba3a25 !important;
    border-radius: 2px;
    padding: 1rem;
}

.oppgaver_detalj {
    position: relative;
    margin-top: 16px;
    background-color: #e9e7e7;
    border-radius: 2px;
    padding: 0.7rem 1rem 0.5rem 1rem;
}

.oppgaver_detalj_feil {
    border: solid 1px #ba3a25 !important;
    background-color: #f3e4e3 !important;
}

.oppgaver_detalj_feil_ramme {
    border: solid 1px #ba3a25 !important;
}

@media screen and (max-width: 640px) {
    .oppgaver_detaljer {
        padding: 0.5rem;
    }

    .oppgaver_panel {
        padding: 1rem;
    }
}

@media screen and (min-width: 641px) {
    .oppgaver_detaljer {
        padding: 1rem;
    }
}

.oppgaver_vedlegg_feilmelding_overskrift {
    margin-top: 0.5rem;
}

.oppgaver_vedlegg_feilmelding_bullet_point {
    position: relative;
    left: -7.5px;
}

.oppgaver_vedlegg_feilmelding {
    margin-top: 0.5rem;
    margin-left: 1.25rem;
}

.oppgaver_vedlegg_feilmelding_ul_plassering {
    padding: 0;
}

.tekst-wrapping {
    word-wrap: break-word;
}
