.oppgaver_ikon_og_tekst {
  display: flex;
  width: 100%;

  div {
    padding-left: 1rem;
    padding-top: 4px;
  }
}

.luft_over_1rem {
  margin-top: 1rem;
}

.luft_over_2rem {
  margin-top: 2rem;
}

.luft_under_1rem {
  margin-bottom: 1rem;
}

.luft_over_10px {
  display: block;
  margin-top: 10px;
}

.oppgaver_detaljer {
  border: 1px solid #e9e7e7;
  border-radius: 2px;
  padding: 1rem;
}

.oppgaver_detalj {
  margin-top: 4px;
  background-color: #e9e7e7;
  border-radius: 2px;
  padding: 0.7rem 1rem 0.1rem 1rem;
}
