.dine_soknader_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;

    .knapp_og_periode_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .dine_soknader_panel_overskrift {
        margin-right: 1rem;
        white-space: nowrap;
    }
    .periodevelger_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 4px;
    }

    .periode_velger {
        display: flex;
        flex-direction: row;
        align-items: center;

        .skjemaelement__label {
            margin-top: 12px;
            white-space: nowrap;
            margin-right: 8px;
        }
    }
}

@media screen and (min-width: 695px) {
    .dine_soknader_panel {
        padding: 1rem 20px 1rem 4rem; // Tar høyde for bredden på svg-ikon i SaksPanel
        margin-top: 1rem;
        .periode_velger {
            margin-top: 4px;
        }
        .periodevelger_container {
            height: 2rem;
        }
    }
}

@media screen and (max-width: 694px) {
    .dine_soknader_panel {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
        margin-top: 1rem;

        .knapp_og_periode_container {
            padding-top: 1rem;
            width: 100%;
            display: flex;
            align-items: flex-end;
        }
        .periodevelger_container {
            width: 100%;
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 424px) {
    .dine_soknader_panel {
        .knapp_og_periode_container {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
.soknadsOversiktSide .nav-veilederpanel {
    border: none;
}

.ingenSakerFunnetPanelLuftOver {
    padding-top: 1rem;
}
.saksListePanelLuftOver {
    margin-top: 4rem;
}

.soknadsOversiktVeilederpanelIkon .nav-veileder__frame {
    background-color: #cde7d8;
}

@media screen and (min-width: 747px) {
    .soknadsOversiktLenkePanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;
        margin-top: 2rem;
    }

    .soknadsOversiktLenker {
        width: 50%;
    }
}

@media screen and (max-width: 746px) {
    .soknadsOversiktLenkePanel {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }

    .soknadsOversiktLenker {
        width: 100%;
    }
}

.ingenSoknadFunnet {
    padding-top: 4px;
    padding-bottom: 2px;
    margin-left: 16px;
}

.soknadsOversiktLenkerAlign {
    display: flex;
    align-items: center;
}

.ingenSoknaderFunnetText {
    display: flex;
    justify-content: center;
}
