.sakpanel {
    width: 100%;
}
@media screen and (min-width: 521px) {
    .sakpanel {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}

.sakpanel_text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.sakpanel_innhold {
    width: 100%;
    display: block;
}

.sakpanel_innhold_etikett {
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 521px) {
    .sakpanel_innhold_etikett {
        padding-right: 0;
        margin-right: 1rem;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 520px) {
    .sakpanel_innhold_etikett {
        margin-left: 30px;
        padding-right: 4px;
        justify-content: left;
    }
}

.sakpanel_status {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.sakspanel_status_laster {
    display: flex;
    flex-direction: row;
    width: 24rem;
}

.sakspanel_status_laster .lastestriper {
    width: 8rem;
}
