.document_icon {
  width: 62px;
  margin-left: 16px;
  margin-right: 19px;
}

.sakpanel {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.sakpanel_innhold {
  width: 100%;
  display: block;
}

.sakpanel_innhold_etikett {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.sakpanel_status {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
