.month_group {
    margin-bottom: 40px;
}

.uthevetTekst {
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
}
.monthYear_header {
    margin-bottom: 4px;
}

.stoppetTekst {
    margin-right: 8px;
}

.accordion_headerContent {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

.float_left {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 80%;
}
.accordion_headerContent > .float_right {
    margin-left: auto;
}

.accordion_header {
    align-items: center;
}
.accordion_header > span {
    width: 100%;
}

.accordion_content {
    border: 1px solid #b7b1a9;
}
.soknadLenke {
    align-items: center;
    gap: 8px;
    display: flex;
}
