.utbetalinger_filter {
    width: fit-content;
    margin-bottom: 2rem;
}

.periodevelger {
    margin-bottom: 2rem;
    width: min-content;
}

.chips {
    margin: 0.5rem 0;
}

.modal_content {
    padding: 20px 24px;
}
