.vilkarview-heading-wrapper {
    display: flex;
    width: 100%;

    div {
        padding-left: 1rem;
        padding-top: 4px;
    }
}

.vilkar-heading-tekst {
    padding: 4px 0 0 16px;
}

.vilkar-ekspanderbart-panel-innhold-wrapper {
    padding-left: 1rem !important;
    border: 1px solid var(--navds-global-color-gray-100); /* TODO: Bytte ut med semantisk farge */
}

@media screen and (max-width: 640px) {
    .vilkar_panel {
        padding: 0;
    }
}

.vilkar-bolk-med-symbol-wrapper {
    display: flex;
    align-items: normal;
    flex-direction: row;
    justify-content: space-between;
}

.vilkar-bolk-symbol-wrapper {
    margin-right: 1rem;
}

.space-below {
    margin-bottom: 1rem;
}

.svg-width-addition {
    padding-left: 4px;
    padding-right: 4px;
}

.react-collapse-animation {
    transition: height 500ms;
}
