.utbetalinger_side {
    padding: 4rem 32px 32px 32px;
    margin-bottom: -4rem;
    display: flex;
    flex-direction: column;
    background-color: #d4e6d8;
}

.headerNoUnderline[data-open="true"]::after {
    content: none;
}
