.utbetalinger_side {
    padding: 4rem 32px 32px 32px;
    margin-bottom: -4rem;
    display: flex;
    flex-direction: column;
    background-color: #d4e6d8;
}
/*Finner ingen grei måte å legge beløp ved siden av chevron, jukser frem noe*/
.headerFill :global(.aksel-expansioncard__header-content) {
    flex: 1 1 auto;
    min-width: 0;
}

/* Remove hover ring */
.noHoverRing:hover {
    outline: none;
    box-shadow: none;
}
