/* sidelayout*/

.utbetalinger_loader {
    margin: 100px;
}

.utbetalinger_periodevelger_panel {
    width: 220px;
    margin-left: 0;
    display: block;
    border-radius: 4px;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
}

.utbetalinger_periodevelger_panel h2 {
    margin-bottom: 1rem;
}

.utbetalinger_periodevelger_panel button {
    margin-bottom: 1rem;
}

.utbetalinger_detaljer {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.savner_utbetaling_panel {
    background-color: #fff;
    display: block;
    padding: 1rem 1rem 1rem 3.5rem;
    border-radius: 4px;
    margin-top: 2rem;
}

.savner_utbetaling_panel .infoIkon {
    display: block;
    float: left;
    margin-left: -2.5rem;
}
