.sideIkkeFunnet {
    text-align: center;
}

.sideIkkeFunnet ul {
    margin-top: 20px;
    padding-left: 0;
}

.sideIkkeFunnet li {
    display: inline-block;
    margin-top: 20px;
    padding-left: 30px;
    position: relative;
}

.sideIkkeFunnet li:first-child {
    padding-left: 0;
}

.sideIkkeFunnet__ikon {
    margin-top: 40px;
    margin-bottom: 2rem;
}
