@media screen and (max-width: 640px) {
    .panel-luft-over {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 641px) {
    .panel-luft-over {
        margin-top: 4rem;
    }
}

.panel-glippe-over {
    margin-top: 24px;
    margin-bottom: 0 !important;
}
