.uxSignalsContainer {
    margin-top: var(--a-spacing-6);
}

.uxSignalsContainer > :global(.uxsignals-container) {
    background-color: var(--a-lightblue-50);
    border-color: var(--a-border-action);
    border-radius: var(--a-border-radius-small);
    color: var(--a-text-default);
    margin: 0;
}

.uxSignalsContainer :global(.uxsignals-cta) {
    background-color: var(--a-surface-action);
    color: var(--a-text-on-action);
    border-radius: var(--a-border-radius-small);
}

.uxSignalsContainer :global(.uxsignals-cta):hover {
    background-color: var(--a-surface-action-hover);
}

.uxSignalsContainer :global(.uxsignals-header) > h2 {
    font-size: var(--a-font-size-heading-medium);
}
