.status_detalj_panel {
    max-width: 640px;
    border: 1px solid #c6c2bf;
    border-radius: 2px;
    padding: 1rem;
    position: relative;
    margin-bottom: 4px;

    @media screen and (min-width: 641px) {
        &_luft_under {
            margin-bottom: 2rem;
        }
    }
}

.status_detalj_panel__tittel {
    @media screen and (min-width: 641px) {
        width: 70%;
    }
    @media screen and (max-width: 640px) {
        width: 50%;
    }
}

.status_detalj_panel__status {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
}

.status_detalj_panel__kommentarer {
    line-height: 22px;
    margin-top: 6px;
}

.status_detalj_linje {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}
