@import "../../../node_modules/nav-frontend-core/less/core";

ul.pagination {

  float: right;
  display: flex;

  flex-direction: row;
  align-content: space-between;

  li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ddd;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    min-width: 1.2rem;
    line-height: 1.375rem;

    font-weight: 600;
    margin-right: 0.6rem;
    color: #0067C5;
    text-align: center;
    text-decoration: underline;
  }

  li:hover {
    text-decoration: none;
  }

  li:last-child {
    margin-right: 0;
  }

  li.disabled {
    color: darkgray;
  }

  li.previous {
    border: 1px solid white;
    text-decoration: none;
  }

  li.next {
    border: 1px solid white;
    text-decoration: none;
  }

  li.active {
    background-color: @navBla;
    color: white;
    font-weight: 400;
    border: 1px solid #0099FF;
    text-decoration: none;
  }

  li a {
    display: inline-block;
    width: 100%;
  }

  li:focus a {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #254b6d;
  }

}

