@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#decorator-header {
    border-bottom: 1px solid var(--a-border-subtle);
}

/* "Hack" for å skjule tallet i Stepper (søknadsoversikt) */
.navds-stepper__circle {
    color: var(--a-bg-default);
    border-color: var(--a-text-default);
}
