@import "tailwindcss";
@import "@navikt/ds-css";

@config '../../tailwind.config.ts';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * "Hack" for å skjule tallet i Stepper (søknadsoversikt)
 * TODO: Fjern når Progress-komponenten er på plass i aksel
*/
.aksel-stepper__circle {
    &:not(.aksel-stepper__circle--success) {
        color: var(--ax-bg-neutral-soft);
        border-color: var(--ax-text-default);
    }
    &.aksel-stepper__circle--success {
        background-color: var(--ax-bg-neutral-strong);
        border-color: var(--ax-bg-neutral-strong);
        color: var(--ax-bg-neutral-soft);
    }
}
