
.hands_coin_icon {
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.dine_utbetalinger_panel {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 42px;
  padding-right: 42px;
}

.dine_utbetalinger_innhold {
  display: flex;
  flex-direction: row;
}

.lenkepanel__heading {
  margin-bottom: 16px;
}
