.month_group {
    margin-bottom: 40px;
}

.uthevetTekst {
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
}
.monthYear_header {
    margin-bottom: 4px;
}

.stoppetIkon {
    margin-right: -8px; /*revert the flex gap*/
    height: 1.75rem;
    width: 1.75rem;
}

.stoppetTekst {
    margin-right: 8px;
}

.accordion_headerContent {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}
.accordion_headerContent > *:last-child {
    margin-left: auto;
}
.accordion_headerContent > *:first-child {
    gap: 0;
}
.accordion_header {
    align-items: center;
}
.accordion_header > span {
    width: 100%;
}

.soknadLenke {
    align-items: center;
    gap: 8px;
    display: flex;
}
