.outerError {
    margin: 8px 0;
}

.innerError {
    margin-top: 16px;
}

.feilListe {
    margin: 0;
    list-style-type: disc;
}

.feilListe li {
    margin: 8px 0;
}

.tekstWrapping {
    word-wrap: break-word;
}

.driftsmelding {
    margin-bottom: 8px;
}
