.App {
    text-align: center;
}

/* Overstyr css fra dekoratør:*/
a.lenke:not(.knapp) {
    border-bottom: none;
}

.informasjon-side {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.informasjon-side .breadcrumbs_wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-innhold {
    padding: 3rem 2rem;
    max-width: 600px;
}

@media only screen and (max-width: 480px) {
    .modal-innhold {
        padding: 3rem 1rem 1rem;
    }
}
