.App {
  text-align: center;
}

a.lenke_uten_ramme {
  border-bottom: none;
}

a.lenke_uten_ramme:hover {
  text-decoration: underline;
}

.blokk-center .vedlegg_liste_panel {
  padding-bottom: 5rem;
}

.lenke_vedlegg_filnavn {
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
  text-overflow: ellipsis;
}

@media screen and (min-width: 641px ) {
  .lenke_vedlegg_filnavn {
    max-width: 11rem;
  }
}

@media screen and (max-width: 640px ) {
  .lenke_vedlegg_filnavn {
    max-width: 100%;
  }
}

// Overstyr css fra dekoratør:
a.lenke:not(.knapp) {
  border-bottom: none;
}

.informasjon-side {
  margin-bottom: 4rem;
}
