@import "@navikt/ds-css";
@import "./components/paneler/paneler.css";
@import "./components/timeoutbox/timeoutbox.css";
@import "./components/historikk/historikk.css";
@import "./components/paginering/paginering.css";
@import "./components/banner/banner.css";
@import "./components/paneler/paneler.css";
@import "./components/ellaBlunk/EllaBlunk.css";
@import "./saksoversikt/banner/saksoversiktBanner.css";
@import "./App.css";

[data-theme="sosialhjelp-innsyn"] {
    --ac-guide-panel-border: none;
    --ac-guide-panel-illustration-bg: #cde7d8;
}

[data-theme="utbetalinger"] {
    --ac-guide-panel-border: none;
    --ac-guide-panel-illustration-bg: #9bd0b0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--a-bg-subtle);
}

html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#__next {
    flex: 1 0 auto;
}
header,
footer {
    flex-shrink: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blokk-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 640px) {
    .blokk-center {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 340px) {
    .blokk-center {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media screen and (min-width: 641px) {
    .blokk-center {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .blokk-center .blokk-center--wide {
        display: block;
        max-width: 944px;
    }
}

/* Hack for å skjule del-skjerm knappen  */
.footer-bottom-content__personvern-lenker > li:last-child {
    display: none;
}

#nav-chatbot {
    display: none !important;
}
