ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5rem;
  text-indent:  1.5rem;
}

li:before {
  content: " ";
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background-color: #cde7d8;
  border-radius: 50%;
}
