@import "../../../node_modules/nav-frontend-core/less/core";

ul.historikk {
  margin: 0 auto;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  line-height: 1.38;
}

ul.historikk li {
  padding: 0 0 20px 38px;
  position: relative;
  margin: 0;
}

ul.historikk li:after {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 24px;
  background: @navGronnLighten80;
}

ul.historikk li:before {
  position: absolute;
  left: 8px;
  top: 4px;
  content: "";
  height: 100%;
  width: 0;
  border-left: 2px solid @navGronnLighten80;
}

ul.historikk li:last-of-type:before {
  border: none;
}

ul.historikk_start_lukket li:last-of-type:before {
  border-left: 2px solid @navGronnLighten80;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

ul.historikk_start li:last-of-type:before {
  border-left: 2px solid @navGronnLighten80;
}

.lesMerPanel__historikk {

  .lesMerPanel__mer {
    padding-top: 0;
  }
}
