@import "../../../node_modules/nav-frontend-core/less/core";

.arkfane {
    .arkfane_panel {
        background-color: #fff;
        display: block;
        padding: 1rem 0 0 0;
        border-radius: 4px;

        @media screen and (min-width: 641px) {
            .arkfane_mainNav {
                padding-left: 60px;
                padding-right: 80px;
            }
        }
    }
}

.arkfane_mainNav {
    margin-top: 1rem;
    border-bottom: 4px solid @navLysGra;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    color: @navBla;
                    padding: 0.75rem 1.25rem;
                    border-bottom: 4px solid @navLysGra;
                    position: relative;
                    top: 4px;

                    &:hover {
                        background: @navLysGra;
                        border-bottom: 4px solid @navBla;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 3px @fokusFarge;
                        z-index: 1;
                    }

                    &.active {
                        font-weight: bold;
                        border-bottom: 4px solid @navBla;
                    }

                    &.inactive {
                        border-bottom: 4px solid @navLysGra;
                    }
                }
            }
        }
    }
}
