@import "../../../node_modules/nav-frontend-core/less/core";

.banner {
  background-color: @navGronnLighten80;
  color: @navMorkGra;
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid @navGronnLighten60;

  &__tittel {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
  }

}

.big_banner {
  background-color: @navGronnLighten80;
  color: @navMorkGra;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: flex-start;
  border-bottom: 4px solid @navGronnLighten60;

  &__tittel {
    font-size: 32px;
    margin: 0 0;
    font-weight: bold;
    text-align: left;
  }

  &__brodsmuler {
    display: flex;
    align-items: center;
    padding-top: .5rem;

    &__head {
      padding-right: .5rem;
    }
  }

  .brodsmulesti {
    padding-top: 1rem;
    padding-bottom: .75rem;
  }
}