.banner {
    background-color: var(--navds-color-green-10);
    color: var(--navds-color-darkgray);
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--navds-color-green-20);
    margin-bottom: 2rem;
}
