.big_banner {
    background-color: #9bd0b0;
    color: var(--a-text-default);
    width: 100%;

    border-bottom: 4px solid #38a161;
    padding-left: 1rem;
    padding-top: 1rem;
}

@media screen and (max-width: 370px) {
    .big_banner h1 {
        font-size: 26px;
    }
}
@media screen and (min-width: 641px) {
    .big_banner__blokk-center {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
}
