name: "Build code and run tests on PR"
on:
    pull_request:
        branches:
            - "**" # Build all branches
        tags-ignore:
            - "**" # Don't build any tags
    workflow_dispatch:

jobs:
    build_code:
        name: "Build Code and run Tests"
        runs-on: ubuntu-latest
        permissions:
            packages: read
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - name: "Build npm project and run Tests"
              uses: navikt/sosialhjelp-ci/actions/build-node@v12
              env:
                  NEXT_PUBLIC_RUNTIME_ENVIRONMENT: mock
                  NEXT_PUBLIC_INNSYN_ORIGIN: http://whatever.com
              with:
                  node-version: 24
                  build-less: "false"
                  run-orval: "true"
                  reader-token: ${{ secrets.GITHUB_TOKEN }}
            - name: lint
              run: pnpm run lint
              shell: bash
            - name: tsc
              run: pnpm run tsc
              shell: bash
            - name: test
              run: pnpm run test
              shell: bash
    playwright-tests:
        name: Playwright Tests
        uses: ./.github/workflows/playwright-tests.yml
        permissions:
            contents: read
            id-token: write
            packages: write
